@*@model IEnumerable<VeryTimekeeper.Models.Task>

<ul id="sortable tasks" class="list-unstyled ui-sortable">
    @foreach (var task in Model)
    {
        <li class="single-task ui-state-default" id="single-task@(task.TaskId)">
            <p class="task-title" id="timer@(task.TaskId)">@Html.DisplayFor(modelTask => task.Content) @task.timeRemaining</p>
        </li>

    }
</ul>*@

HELLO