@model IEnumerable<VeryTimekeeper.Models.Task>

<h2>Finished Tasks</h2>
<ul class="list-unstyled ui-sortable task-list">

    @foreach (var task in Model)
    {
        <li class="single-task ui-state-default" id="single-task@(task.TaskId)">
            <span class="task-title">@Html.DisplayFor(modelTask => task.Content)</span>
            <span class="time-remaining" id="timer@(task.TaskId)">@Html.DisplayFor(modelTask => task.timeRemaining)</span>
            <span class="time-complete">@Html.DisplayFor(modelTask => task.timeToFinish)</span>
        </li>

    }
</ul>